<html>
<!-- TODO this is actually adding duplicate html/head/body tags.
I need to set meta and css class attributes in another way -->

  <head>
    <meta charset='UTF-8'>
    <meta name='author' content='Kara Isakson'>
    <meta name='description' content='Kara Isakson'>
    <meta name='keywords' content='Kara, Isakson, Kara Isakson, software, software engineer, coding, alarm.com, video, sewing'>
    <title>Kara Isakson</title>
    <link rel='stylesheet' href=''> <!-- TODO do I actually need this link with Ember? -->
  </head>

  <body class={{globalCssClass}}>
    <h1>Kara Isakson</h1>

    <ul class='nav'>
      {{#each navItems as |item|}}
        <li>{{#link-to item.link}}{{item.title}}{{/link-to}}</li>
      {{/each}}
    </ul>

    {{outlet}}

    <div class='footer'>
    	<div class='css-switch'>
        {{#each styleButtons as |button|}}
          <button class='css-button{{if (eq button.cssClass globalCssClass) " selected"}}' {{action 'setCss' button.cssClass}}>
            {{button.name}}
          </button>
        {{/each}}
    	</div>
    	<div class='credits'>
    		Developed, with love, by Kara Isakson, 2018. <br>
    		Created with Ember.
    	</div>
    </div>
  </body>

</html>
