<!-- <body class={{globalCssClass}}> -->
<h1>Kara Isakson</h1>

<ul class="nav">
  {{#each navItems as |item|}}
    <li>{{#link-to item.link}}{{item.title}}{{/link-to}}</li>
  {{/each}}
</ul>

{{outlet}}

<div class="footer">
  <div class="css-switch">
    {{#each styleButtons as |cssButton|}}
      <button
        class="css-button{{if (eq cssButton.cssClass globalCssClass) ' selected'}}"
        onclick={{action "setCss" cssButton.cssClass}}
      >
        {{cssButton.name}}
      </button>
    {{/each}}
  </div>
  <div class="credits">
    Developed, with love, by Kara Isakson, 2018. <br>
    Created with Ember.
  </div>
</div>
